<%- include('../partials/admin/header');-%>
    <section class="content-main">
        <form onsubmit="updateCategory(event)">
            <div class="row">
                <div class="content-header">
                    <h4 class="content-title">Edit <%=category.name%>
                    </h4>
                    <input type="text" name="_id" id="_id" value="<%=category._id%>" hidden>
                </div>
                <div class="card mb-4">
                    <div class="card-header">
                        <h4>Basic</h4>
                    </div>
                    <div class="card-body">
                        <div class="mb-4">
                            <label for="product_name" class="form-label">Category Name</label>
                            <input type="text" value="<%=category.name%>" placeholder="Type here" name="name"
                                class="form-control" id="category_name">
                        </div>
                    </div>
                </div>
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="input-upload">
                            <img style="height: 150px;width: 200px;" id="edit-<%=category._id%>"
                                src="<%=category.image%>" alt="">
                            <input class="form-control" onchange="editImag(event,'<%=category._id%>')" multiple
                                name="cat_image" type="file">
                        </div>
                    </div>
                </div>
            </div>
            <button class="btn btn-primary" type="submit">Edit</button>
        </form>
    </section>
    <%- include('../partials/admin/footer');-%>