<%- include('../partials/admin/header');-%>
    <section class="content-main">
        <ul class="nav nav-pills " id="pills-tab" role="tablist" style="margin-left: 10px;">
            <li class="nav-item" role="presentation">
                <button class="nav-link active " id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home"
                    type="button" role="tab" aria-controls="pills-home" aria-selected="true">View Offers</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile"
                    type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Add Offer</button>
            </li>
        </ul>
        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">

                <table id="" class="table ">
                    <thead>
                        <tr>
                            <th scope="col">Sl.No</th>
                            <th scope="col">Category</th>
                            <th scope="col">Offer Percentage</th>
                            <th scope="col">No. of products</th>
                            <th scope="col">Expiry Date</th>
                            <th scope="col">Remove Offer</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <%catOffered.forEach((elem,index)=>{%>
                            <td><%=index+1%></td>
                            <td><%=elem.category.name%></td>
                            <td><%=elem.discount%>%</td>
                            <td><%=elem.category.products%></td>
                            <td><%=new Date(elem.expiry).toDateString().slice(4,15)%></td>
                            <td>
                                <a href="/admin/removeOffer?id=<%=elem._id%>&catId=<%=elem.category._id%>" class="btn btn-danger">REMOVE</a>
                            </td>
                        </tr>
                        <%})%>
                    </tbody>
                </table>
            </div>
            <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">

                <div class="registration-form">
                    <form action="/admin/offers" method="post">
                        <div class="form-group">
                            <label for="">Category</label>
                            <select class="form-control item" class="form-control item" name="category"
                                placeholder=" Category">
                                <%categories.forEach(elem=>{%>
                                 <option value="<%=elem._id%>"><%=elem.name%></option>
                                 <%})%>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="">Expiry Date</label>
                            <input type="date" class="form-control item" name="expiry"
                                placeholder="Coupon Expiry Date">
                        </div>
                        <div class="form-group">
                            <label for="">Offer Percentage </label>
                            <input type="percentage" class="form-control item" name="discount"
                                placeholder="Offer Percentage">
                        </div>
                        <div class="form-group text-center ">
                            <button type="submit" class="btn btn-block  create-account">SAVE</button>
                        </div>
                    </form>

                </div>
            </div>

        </div>
        
    </section>
    <%- include('../partials/admin/footer');-%>